﻿@model SitePerso.Models.Post

@{
    ViewBag.Title = "Blog";
}

<div class="main">

    @using (Html.BeginForm("Create", "Blog", FormMethod.Post, new { enctype="multipart/form-data"}))
    {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend class="text-center font-caviar small">Add Post</legend>

            <div class="editor-field">
                @Html.TextBoxFor(model => model.title, null, new { style = "width: 97.5%;", placeholder="Post title"} )
                @Html.ValidationMessageFor(model => model.title)
            </div>

            <div class="editor-field">
                @Html.TextAreaFor(model => model.content, new { style = "width: 97.5%; resize: vertical;", rows = 6, placeholder="Post content" })
                @Html.ValidationMessageFor(model => model.content)
            </div>

            <div class="row-fluid smallMarginTop">
                <div class="span4 offset4">
                    <input type="file" name="file" id="file"/>
                </div>
            </div>

            <div class="row-fluid smallMarginTop">
                <input type="submit" value="Post" class="span2 offset5 btn btn-custom"/>
            </div>

        </fieldset>
    }
 
</div>