﻿@model SitePerso.Models.Post

@{
    ViewBag.Title = "Blog";
}

<div class="main container">

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend class="text-center font-caviar small">Edit Post</legend>

            @Html.HiddenFor(model => model.id)

            <div class="editor-field">
                @Html.TextBoxFor(model => model.title, null, new { style = "width: 97.5%;"} )
                @Html.ValidationMessageFor(model => model.title)
            </div>

            <div class="editor-field">
                @Html.TextAreaFor(model => model.content, new { style = "width: 97.5%; resize: vertical;", rows = 10 })
                @Html.ValidationMessageFor(model => model.content)
            </div>

            <div class="row-fluid smallMarginTop">
                <input type="submit" value="Save" class="span2 offset5 btn btn-custom"/>
            </div>

        </fieldset>
    }

</div>