﻿@model IEnumerable<SitePerso.Models.Post>

@{
    ViewBag.Title = "Leo Larrere - Blog";
}

@section JavaScript
{
    <script>
        $(function ()
        {
            $('#gif').click(function ()
            {
                if ($(this).hasClass("jpg"))
                {
                    $(this).addClass("gif").removeClass("jpg");
                    $(this).attr("src", $('#gif').prop('src').replace("jpg","gif"));
                }
                else
                {
                    $(this).addClass("jpg").removeClass("gif");
                    $(this).attr("src", $('#gif').prop('src').replace("gif", "jpg"));
                }
            })
        })
    </script>
}

<div class="main container blog">
    
    @foreach (SitePerso.Models.Post post in Model)
    {        
        <div class="post">
          
            <div class="row-fluid font-futura marginBottom">
                <div class="span8">@post.title</div>
                <div class="span4 text-right">@post.date.ToShortDateString()</div>
            </div>

            @if (!String.IsNullOrEmpty(post.fileName))
            {
                <div class="row-fluid">
                    @if (post.fileName.Contains(".gif"))
                    {
                        <img id="gif" src="@Url.Content("~/Content/images/blog/" + post.fileName.Replace("gif","jpg"))" alt="@post.title" class="span10 offset1 jpg"/>
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/images/blog/" + post.fileName)" alt="@post.title" class="span10 offset1"/>
                    }
                </div>
            }

            <div class="row-fluid smallMarginBottom">
                <h5>@post.content.Substring(0, 300)... @Html.ActionLink("Read more", "Post", new { id = post.id }) </h5>
            </div>

            @if (User.Identity.IsAuthenticated)
            {
            <div class="row-fluid smallMarginTop marginBottom">
                @Html.ActionLink("Edit", "Edit", new { id = post.id }, new { @class = "btn span2 offset4 font-helvetica marginRight" })
                @Html.ActionLink("Delete", "Delete", new { id = post.id }, new { @class = "btn btn-danger span2 font-helvetica marginRight" })
            </div>
            }

        </div>
    }
        
</div>

