﻿@model SitePerso.Models.Post
@using SitePerso.Models

@{
    ViewBag.Title = "Leo Larrere - Blog";
}

@section JavaScript
{
    <script>
        $(function () {
            $('#gif').click(function () {
                if ($(this).hasClass("jpg"))
                {
                    $(this).addClass("gif").removeClass("jpg");
                    $(this).attr("src", $('#gif').prop('src').replace("jpg", "gif"));
                }
                else
                {
                    $(this).addClass("jpg").removeClass("gif");
                    $(this).attr("src", $('#gif').prop('src').replace("gif", "jpg"));
                }
            })
        })
    </script>
}

<div class="main container">
       
    <div class="row-fluid marginBottom">
        @Html.ActionLink("Go Back", "Index", "Blog", null, new { @class = "btn btn-custom span2 offset5 font-helvetica" })
    </div>

    @Html.Raw(ViewBag.alert)

    <div class="post">
          
        <div class="row-fluid font-futura marginBottom">
            <div class="span8">@Model.title</div>
            <div class="span4 text-right">@Model.date.ToShortDateString()</div>
        </div>

        @if (!String.IsNullOrEmpty(Model.fileName))
        {
            <div class="row-fluid">
                @if (Model.fileName.Contains(".gif"))
                {
                    <img id="gif" src="@Url.Content("~/Content/images/blog/" + Model.fileName.Replace("gif", "jpg"))" alt="@Model.title" class="span10 offset1 jpg"/>
                }
                else
                {
                    <img src="@Url.Content("~/Content/images/blog/" + Model.fileName)" alt="model.title" class="span10 offset1"/>
                }
            </div>
        }

        <div class="row-fluid">
            <h5>@Html.Raw(Model.content.Replace(Environment.NewLine, "<br />"))</h5>
        </div>

        <br />

        @foreach (Comment c in @ViewBag.comments)
        {        
            <div class="row-fluid">
                <span class="font-futura smallRightPadding tiny">@c.username</span>•<span class="smallLeftPadding tiny">@c.date.ToString("MM/dd/yyyy HH:mm tt")</span>
                <span class="pull-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (c.approved)
                        { @Html.ActionLink("Block", "Approve", "Blog", new { id = c.id, value = false }, new { @class = "btn btn-danger  font-helvetica" });
                        }
                        else
                        { @Html.ActionLink("Approve", "Approve", "Blog", new { id = c.id, value = true }, new { @class = "btn btn-success  font-helvetica" });
                        }
                    }
                </span>
            </div>
            <div class="comment tiny">
                @c.content
            </div>            
        }       

        <h4 class="font-droid smallMarginBottom MarginTop">Add a comment</h4>                  

        @using (Html.BeginForm("addComment", "Blog", new { idPost = Model.id }, FormMethod.Post))
        {
            <div class="row-fluid">@Html.TextBox("username", null, new { style = "width: 200px;", placeholder = "Your name" })</div>
            <div class="row-fluid">@Html.TextArea("comment", null, new { id = "comment", style = "width: 97.5%; resize: vertical;", rows = 5, placeholder = "Your message about the awesomeness of this post" })</div>
            <div class="row-fluid"><input type="submit" class="btn btn-custom span4 offset4 smallMarginTop" value="Add comment" /></div>             
        }


        <br />
        <br />

    </div>
        
</div>

