﻿@{
    ViewBag.Title = "Leo Larrere - Education";
}

<div class="main">

    <div class="row-fluid">

        <div class="span5 responsive-span5 marginBottom" id="pic_IIT">

            <div class="logo"><img src="~/Content/images/IIT.jpg" alt="Illinois Institute of Technology"/></div>
            <br />
            <div class="picture picture-chicago"></div>

        </div>

        <div class="box span7 responsive-span7" id="desc_IIT">

            <span class="font-futura">
                <a href="http://www.iit.edu/" target="_blank">Illinois Institute of Technology – Chicago, IL</a>
            </span>
            <br />
            Master of Science in Computer Science<br />
            GPA : 3.53/4.0<br />
            Awarded a merit-based International Partnership half tuition scholarship

        </div>

    </div>    

    <div class="row-fluid">

        <div class="span5 responsive-span5 pull-right" id="pic_EISTI">

            <div class="logo"><img src="~/Content/images/eisti.png" alt="EISTI" /></div>
            <br />
            <div class="picture picture-ossau"></div>

        </div>

        <div class="box span7 responsive-span7 pull-left" id="desc_EISTI">

            <span class="font-futura">
                <a href="http://www.eisti.fr/en" target="_blank">EISTI – Pau, France</a>
                <br />
                International School of Information Processing Sciences
            </span>
            <br />
            Master’s Degree in Computer Engineering<br />
            Overall grade : 13.5/20 (66th percentile)<br />
            <br />
            French "Grandes Écoles" are a distinctive element of the French higher education system which parallels the classical university system.
            "Grandes Écoles" are smaller in size than universities and recruit their students through very selective processes. 
            Ever since their creation, they have stood at the forefront of technological and scientific developments in their field and have trained a majority 
            of the engineers who hold top positions in French and international companies.
       
        </div>

    </div>

</div>
