﻿@model IEnumerable<Experience>
@using SitePerso.Models

@{
    ViewBag.Title = "Leo Larrere - Experience";
}

<div class="main container">

        <div class="row-fluid font-futura title text-center smallMarginBottom">
            Work Experience
        </div>
           
        @{
            int cptAccordion = 1;            
            string show = "in";
            string down = "icon-double-angle-down";
            string right = "icon-double-angle-right";                     
        }

        @foreach (Experience e in Model)
        {
            int cptTask = 1;
            
            <div class="row-fluid">                             
                
                <hr/>
                @if (!String.IsNullOrEmpty(e.endMonth))
                {
                    <div class="text-center small bold">@e.startMonth @e.startYear - @e.endMonth @e.endYear</div>                                              
                }
                else
                {
                    <div class="text-center bold">@Html.Raw(e.startMonth)</div>   
                }
                <hr/>                

                @if (!String.IsNullOrEmpty(e.imgURL))
                {
                    <div class="row-fluid text-center smallMarginBottom">
                        <img src="../Content/images/logos/@e.imgURL"/>
                    </div>            
                }

                @if (!String.IsNullOrEmpty(e.companyName))
                {
                    <div class="font-caviar text-center smallMarginBottom">
                        @e.companyName                    
                    </div>       
                }

                @if (!String.IsNullOrEmpty(e.jobDescription))
                {
                    <div class="row-fluid text-center bold marginBottom">
                        @e.jobDescription
                    </div>
                }
                
                @if (e.Tasks.Count > 0)
                {
                <div class="row-fluid">

                    @{ string accordion = "accordion" + cptAccordion; }
                          
                    <div class="accordion" id="@accordion">              

                    @foreach (Task t in e.Tasks)
                    {
                        string arrow = "arrow" + cptAccordion + cptTask;
                        string collapse = "collapse" + cptAccordion +  cptTask;
                    
                        <div class="accordion-group">

                            <div class="accordion-heading">
                                <a class="accordion-toggle" onclick="toggle('#@arrow','#@accordion')" data-toggle="collapse" data-parent="#@accordion" href="#@collapse">                                
                                    <i id="@arrow" class="@{ if (cptTask == 1)
                                                                { @down }
                                                                else
                                                                { @right } } icon-2x"></i>
                                    <p class="bullet">@t.title</p>
                                </a>
                            </div>

                            <div id="@collapse" class="accordion-body collapse @{ if (cptTask == 1)
                                                                                    { @show } }">
                                <div class="accordion-inner">
                                    @Html.Raw(t.description)
                                </div>
                            </div>

                        </div>
                    
                        cptTask++;
                    }

                    </div>              
                              
                </div>
                
                }

            </div>                                                 
                
            cptAccordion++;
        }         

</div>