﻿@{
    ViewBag.Title = "Leo Larrere - Web Developer";
}

<div class="main container">

    <div class="row-fluid">
       
        <div class="span7 responsive-span7 smallMarginBottom">
            <div class="picture picture-me"></div>
        </div>

        <div class="span5 responsive-span5 smallMarginTop">       
            Greetings and welcome to my humble abode!<br /><br />
            I found it hard to compile my life in a one-page resume, so I figured I'd come up with this website 
            for whoever wishes to know what lies beneath. Hopefully, you will find in here everything somewhat interesting there is to know about me.<br /><br />
        </div>

    </div>

    <div class="row-fluid">
        In a nutshell, I'm a Computer Science graduate that has resided in the US for more than 2 years now. I've been developing websites since 2009, at which point it was mainly
        very ugly static pages. Since then, I went through some of <a target="_blank" href="http://net.tutsplus.com/articles/general/the-11-phases-of-a-web-developers-career-as-illustrated-by-memes/">The 11 Phases of a Web Developer’s Career</a>
        although I can't really tell which one I'm at now. In the past few years, I've started using relatively powerful frameworks (I've been leaning a lot towards ASP.NET lately) and have been
        drawn to the Ecommerce business.
        <br /><br />
        I currently work and reside in Jupiter, Florida.
    </div>

</div>