﻿@model IEnumerable<Project>
@using SitePerso.Models

@{
    ViewBag.Title = "Leo Larrere - Skills";
}

@section CSS
{
    @Styles.Render("~/Content/graph.css")
    @Styles.Render("~/Content/drag.css")
}

@section JavaScript
{
    @Scripts.Render("~/Scripts/Custom/kinetic-drag.js")
    @Scripts.Render("~/Scripts/Custom/skills.js")
}

<div class="main">

    <div class="row-fluid bold text-center">
        Here are most of the frameworks/languages I have used in the past year
    </div>

    <a id="tooltip" data-placement="left" data-toggle="tooltip" title="Drag me around!"></a>

    <div class="row-fluid">

        <div class="drag constrain-to-window">

            <div id="html5" class="drag-item"> <img src="../Content/images/skills/HTML5.png" /> </div>

            <div id="java" class="drag-item"> <img src="../Content/images/skills/java.png" /> </div>

            <div id="css3" class="drag-item"> <img src="../Content/images/skills/css3.png" /> </div>

            <div id="asp" class="drag-item"> <img src="../Content/images/skills/ASP.NET.png" /> </div>

            <div id="bootstrap" class="drag-item"> <img src="../Content/images/skills/bootstrap.png"/> </div>

            <div id="sqlserver" class="drag-item"> <img src="../Content/images/skills/sqlserver.png"/> </div>

            <div id="js" class="drag-item"> <img src="../Content/images/skills/javascript.png"/> </div>

            <div id="ajax" class="drag-item"> <img src="../Content/images/skills/ajax.png"/> </div>

            <div id="php" class="drag-item"> <img src="../Content/images/skills/php.png"/> </div>

            <div id="mysql" class="drag-item"> <img src="../Content/images/skills/mysql.png"/> </div>

            <div id="ror" class="drag-item"> <img src="../Content/images/skills/RoR.png"/> </div>

            <div id="jquery" class="drag-item"> <img src="../Content/images/skills/jquery.png"/> </div>

        </div>

    </div>

    <div class="row-fluid bold text-center marginTop marginBottom">
        A simple chart as a means to give an idea on how comfortable I feel with those technologies
    </div>

    <div class="graph">
        <div class="row-fluid">
            <div class="span2 Ylabel paddingTop Yaxis">King of the hill</div>
            <div class="row-fluid span10 hr">
                <div class="span2 span2-graph"></div>
                <div class="span2 span2-graph"></div>
                <div class="span2 span2-graph bgBlue third softBorder"></div>
                <div class="span2 span2-graph bgBlue third softBorder"></div>
                <div class="span2 span2-graph"></div>
                <div class="span2 span2-graph"></div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2 Ylabel paddingTop Yaxis">I'm comfortable</div>
            <div class="row-fluid span10 hr">
                <div class="span2 span2-graph bgBlue softBorder"></div>
                <div class="span2 span2-graph"></div>
                <div class="span2 span2-graph bgBlue"></div>
                <div class="span2 span2-graph bgBlue"></div>
                <div class="span2 span2-graph bgBlue softBorder"></div>
                <div class="span2"></div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2 Ylabel paddingTop Yaxis">This makes sense</div>
            <div class="row-fluid span10 hr">
                <div class="span2 span2-graph bgBlue"></div>
                <div class="span2 span2-graph bgBlue softBorder"></div>
                <div class="span2 span2-graph bgBlue"></div>
                <div class="span2 span2-graph bgBlue"></div>
                <div class="span2 span2-graph bgBlue"></div>
                <div class="span2 span2-graph bgBlue softBorder"></div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2 Ylabel Yaxis">Not sure what's<br />happening here</div>
            <div class="row-fluid span10 hr">
                <div class="span2 span2-graph bgBlue"></div>
                <div class="span2 span2-graph bgBlue"></div>
                <div class="span2 span2-graph bgBlue"></div>
                <div class="span2 span2-graph bgBlue"></div>
                <div class="span2 span2-graph bgBlue"></div>
                <div class="span2 span2-graph bgBlue"></div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2 Ylabel bottomHeight Yaxis">I have no idea<br />what I'm doing</div>
            <div class="row-fluid span10 hr text-center">
                <div class="span2 bgBlue bottom"></div>
                <div class="span2 bgBlue bottom"></div>
                <div class="span2 bgBlue bottom"></div>
                <div class="span2 bgBlue bottom"></div>
                <div class="span2 bgBlue bottom"></div>
                <div class="span2 bgBlue bottom"></div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2 Ylabel"></div>
            <div class="row-fluid span10 text-center">
                <div class="span2 smallFont">HTML<br />CSS</div>
                <div class="span2 smallFont">JavaScript<br />jQuery<br />AJAX</div>
                <div class="span2 smallFont">Java</div>
                <div class="span2 smallFont">PHP<br />MySQL</div>
                <div class="span2 smallFont">.NET C#<br />SQL Server</div>
                <div class="span2 smallFont">Ruby on Rails</div>
            </div>
        </div>

    </div>    

    <div class="font-futura title text-center marginBottom">
        Relevant projects
    </div>

    @{ int cpt = 1; }

    @foreach (Project p in Model)
    {                                
        if (cpt % 2 == 1)
        {
            @:<div class="row-fluid">
                @:<div class="span6 responsive-span6 rightBorder rightPadding bottomPadding">
        }
        else
        {
            @:<div class="span6 responsive-span6 leftPadding bottomPadding">
        }  
                   
        <hr class="xsmallMarginBottom"/>
        <div class="row-fluid smallLines text-center">
            <ul class="inline">            
                <li><img src="~/Content/images/skills/@(p.technology).png" class="smallImg"/></li>             
                <li class="vMiddle">
                    <p><span class="small bold">@p.name</span></p>
                    <p>@p.date</p>                    
                </li>
            </ul>     
        </div>                                              
        <hr class="xsmallMarginTop"/>                
                
        if (!String.IsNullOrEmpty(p.imgURL))
        {
            <div class="row-fluid text-center smallMarginBottom">
                <img src="~/Content/images/logos/@p.imgURL" class="radius"/>
            </div>            
        }

        if (!String.IsNullOrEmpty(p.institution))
        {
        <div class="row-fluid font-caviar text-center smallMarginBottom">
            @p.institution                 
        </div>       
        }

        if (!String.IsNullOrEmpty(p.shortDescription))
        {
        <div class="row-fluid text-center bold marginBottom">
            @p.shortDescription
        </div>
        }
                
        if (!String.IsNullOrEmpty(p.description))
        {
        <div class="row-fluid">                       
            @Html.Raw(p.description)                                    
        </div> 
        }
    
        if (cpt % 2 == 0 || cpt == Model.Count())
        {            
            @:</div></div>       
        }
        else
        {
            @:</div>
        }    
                
        cpt++;                                     
    }

</div>
