﻿@{
    ViewBag.Title = "Leo Larrere - Trivia";
}

@section CSS
{
    @Styles.Render("~/Content/ammap.css")
    @Styles.Render("~/Content/jquery-jvectormap-1.2.2.css")  
}

@section JavaScript
{
    @Scripts.Render("~/Scripts/Custom/trivia.js")
    @Scripts.Render("~/Scripts/Custom/Maps/jquery-jvectormap-1.2.2.min.js")
    @Scripts.Render("~/Scripts/Custom/Maps/jquery-jvectormap-world-mill-en.js")
    @Scripts.Render("~/Scripts/Custom/Maps/jquery-jvectormap-us-aea-en.js")
    @Scripts.Render("~/Scripts/Custom/Maps/maps.js")
    @Scripts.Render("~/Scripts/Custom/Maps/ammap.js")
    @Scripts.Render("~/Scripts/Custom/Maps/ammap_worldLow.js")
}

<div class="main">
       
    <div class="row-fluid">

        <div class="span6 menu-span6 bigLines rightPadding">

            <div class="row-fluid font-futura medium">Fun facts since entering the US</div>         
                
            <div class="row-fluid">
                <div class="span icon"><i class="icon-camera icon-3x"></i></div>
                <div class="span text">Pictures Taken</div> 
                <div class="span value big">9022</div>
            </div>
                
            <div class="row-fluid">
                <!--<a id="tooltip-map" data-placement="left" data-toggle="tooltip" title="Click me!"></a>-->
                <div class="span icon"><!--<a id="popoverStates" data-placement="right" data-content="<div id='mapStates' style='width: 500px; height: 300px;'></div>​">--><i id="states" class="icon-map-marker icon-3x"></i><!--</a>--></div>                
                <div class="span text">States visited</div>
                <div class="span value big">14</div>
            </div>                                  

            <div class="row-fluid">
                <div class="span icon maki-fast-food"></div>
                <div class="span4">Weight gained</div> 
                <div class="span span6 font-secret rotate">CLASSIFIED</div>
            </div>

            <div class="row-fluid">
                <div class="span icon"><i class="icon-beer icon-3x"></i></div>
                <div class="span text">Beers drank</div> 
                <div class="span value entypo-infinity"></div>
            </div>       
                
            <div class="row-fluid">
                <div class="span icon"><i class="icon-plane icon-3x"></i></div>
                <div class="span text">Flights Taken</div> 
                <div class="span value big">22</div>
            </div>                         
            
            <div id="FlightsMap"></div>

        </div>

        <div class="span6 menu-span6 bigLines leftPadding">

            <div class="row-fluid font-futura medium">Fun facts since birth</div>
            
            <div id='WorldMap'></div>          

            <div class="row-fluid">                   
                <div id="globe" class="span icon entypo-globe"></div>
                <div class="span text">Countries Visited</div> 
                <div class="span value big">21</div>
            </div>      

            @{
                string arrow = "<i class='icon-chevron-right marginLeft marginRight'></i>";
                string roadTrips = "<div id='roadTrips'>";
                roadTrips += "<img src='../Content/images/EU.jpg' />Pau" + arrow + "Cologne" + arrow + "Amsterdam" + arrow + "Brussels<br/>";
                roadTrips += "<img src='../Content/images/EU.jpg' />Pau" + arrow + "Venice" + arrow + "Rome" + arrow + "Florence" + arrow + "Siena<br/>";
                roadTrips += "<img src='../Content/images/EU.jpg' />Pau" + arrow + "Munich" + arrow + "Prague" + arrow + "Berlin<br/>";
                roadTrips += "<img src='../Content/images/USA.jpg' />San Francisco" + arrow + "L.A." + arrow + "San Diego" + arrow + "Las Vegas<br/>";
                roadTrips += "<img src='../Content/images/USA.jpg' />Las Vegas" + arrow + "Denver";
                roadTrips += "</div>";
            }

            <a id="tooltip" data-placement="left" data-toggle="tooltip" title="click me!"></a>

            <div class="row-fluid">
                <div class="span icon"><i class="icon-road icon-3x"></i></div>
                <div class="span text">Road Trips</div> 
                <div class="span value big" id="roadTrip"><a id="popoverRoadTrips" class="pointer" data-placement="top" data-content="@roadTrips" onclick="$('#tooltip').tooltip('destroy')">7</a></div>
            </div>       
            
            <div class="row-fluid">
                <div class="span icon"><i class="icon-home icon-3x"></i></div>
                <div class="span text">Relocations</div> 
                <div class="span value big">11</div>
            </div>      

        </div>
  
    </div>    
 
</div>