﻿<script>

    function resize()
    {
        if ($(".content").width() < 865)
        {
            $(".info-left").html("leo larrere, 4106 oyster pond way, jupiter, fl 33458");
            $(".info-right").html("312-241-0765 - llarrere@iit.edu");
        }
        else
        {
            $(".info-left").html("leo larrere<br/>4106 oyster pond<br/>way, jupiter, fl 33458");
            $(".info-right").html("312-241-0765<br/>llarrere@iit.edu<br/>leolarrere.com");
        }

        @if (ViewBag.Title == "Leo Larrere - Education")
        {
            <text>
        if ($(".content").width() > 979) {
            $("#pic_IIT").css("margin-top", $("#desc_IIT").height() / 2 - 65);
            $("#pic_EISTI").css("margin-top", $("#desc_EISTI").height() / 2 - 90);
        }
        else {
            $("#pic_IIT").css("margin", "0 0 20px 0");
            $("#pic_EISTI").css("margin", "20px 0 20px 0");
        }
            </text>
        }

        $(".content").css("height", $(".main").height() + 420 + 220);

        @if (ViewBag.Title == "Leo Larrere - Skills")
        {
            <text>
            var offset = 110;
            if ($(".content").width() < 865) { offset = 90 }
            moveTooltip(offset);
            moveLogos();
            </text>
        }

        @if (ViewBag.Title == "Leo Larrere - Trivia")
        {
            <text>
            movePopover();
            moveTooltip();
            </text>  
        }                 
    }

    window.onresize = function (event) {
        resize();
    }

    $(window).load(function () {
        resize();
    });
    
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-43031234-1', 'leolarrere.com');
        ga('send', 'pageview');

</script>        