﻿@using SitePerso.Models

@{ string title = "Leo Larrere - "; }

<!DOCTYPE html>

<html>
        
    <head>
    
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0;">

        <link rel="SHORTCUT ICON" href="~/Content/images/favicon.ico"/>
    
        <title>@ViewBag.Title</title>
    
        @Styles.Render("~/Content/main.css")  
        @Styles.Render("~/Content/bootstrap.css")      
        @Styles.Render("~/Content/responsive.css")
        @Styles.Render("~/Content/font-awesome.css") 
                        
        @Styles.Render("http://fonts.googleapis.com/css?family=Lato:100,400,900") 
        @Styles.Render("http://fonts.googleapis.com/css?family=Droid+Sans:400,700") 

        @RenderSection("CSS", required: false)

        @Scripts.Render("~/bundles/modernizr")

    </head>    
    <body>
        
        <div class="content">
            
            <div class="banner">                                
                
                <a href="~/"><h1 class="text-center"><span class="bold">WEB</span>DEVELOPER</h1></a>            

                <div class="container-fluid">                
                    <div class="row-fluid menu">
                        <div class="span2 text-left info-left">
                                Leo Larrere<br />
                                4106 Oyster Pond<br />
                                Way, Jupiter, FL 33458
                        </div>
                        <div class="span2 text-right info-right pull-right">
                                312-241-0765<br />
                                llarrere@iit.edu<br />
                                leolarrere.com                        
                        </div>
                        <div class="span8 menu-span8 links">                     
                            <div class="span6 menu-span6">  
                                <div class="span4 menu-span4 @if (ViewBag.Title == title + "Education")
                                                             { <text>current</text> }">@Html.ActionLink("Education", "Education", "Home")</div>
                                <div class="span4 menu-span4 @if (ViewBag.Title == title + "Skills")
                                                             { <text>current</text> }">@Html.ActionLink("Skills", "Skills", "Home")</div>
                                <div class="span4 menu-span4 @if (ViewBag.Title == title + "Experience")
                                                             { <text>current</text> }">@Html.ActionLink("Experience", "Experience", "Home")</div>
                            </div>
                            <div class="span6 menu-span6">  
                                <div class="span4 menu-span4 @if (ViewBag.Title == title + "Trivia")
                                                             { <text>current</text> }">@Html.ActionLink("Trivia", "Trivia", "Home")</div>
                                <div class="span4 menu-span4 @if (ViewBag.Title == title + "Contact")
                                                             { <text>current</text> }"><a data-target="#myModal" role="button" data-toggle="modal">Contact</a></div>    
                                <div class="span4 menu-span4 @if (ViewBag.Title == title + "Blog")
                                                             { <text>current</text> }">@Html.ActionLink("Blog", "Index", "Blog")</div>                                   
                            </div>
                        </div>
                    </div>
                </div>

            </div>
                                          
            @RenderBody()            

        </div>

        <div class="footer row-fluid">

            <div class="span4">
                ASP.NET C# MVC 4.5
                <br />
                <a target="_blank" href="https://bitbucket.org/leolarrere"><i class="icon-github-sign icon-2x"></i></a>
            </div>

            <div class="span4 span4-badge">
                <img src="~/Content/images/badge-transparent.png" class="leftPadding rightPadding"/>
            </div>

            <div class="span4">
                Fully responsive design
                <br />
                <a target="_blank" href="http://www.linkedin.com/in/leolarrere/"><i class="icon-linkedin icon-2x"></i></a>
            </div>

        </div>

        <div id="myModal" class="modal hide fade">

            <div class="modal-header">
                <h3>Contact Form</h3>
            </div>           
                
            <div id="modalBody" class="modal-body contactForm">
                
                <div id="alert"></div>
                @Html.ValidationSummary()
                @Html.ValidationSummary(true)                   
                        
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    @Html.TextBox("name", null, new { id = "name", placeholder = "Your name" })
                </div>

                <div class="input-prepend">
                    <span class="add-on"><i class="icon-envelope"></i></span>
                    @Html.TextBox("email", null, new { id = "email", placeholder = "Your email address" })
                </div>

                <div class="input-prepend">
                    <span class="add-on"><i class="icon-phone"></i></span>
                    @Html.TextBox("phone", null, new { id = "phone", placeholder = "Your phone number" })
                </div>

                <div class="input-prepend">
                    <span class="add-on"><i class="icon-pencil"></i></span>
                    @Html.TextArea("message", null, new { rows = 6, id = "message", placeholder = "Your message" })
                </div>             
               
            </div>
               
            <div class="modal-footer">
                <div class="row-fluid">                    
                    <button id="modalButtonSend" class="btn btn-custom span3 offset3" onclick="sendMail()">Send</button>
                    <a id="modalButtonClose" class="btn span3" data-dismiss="modal">Close</a>
                </div>
            </div>
                            
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/Custom/bootstrap.js")       
        @Scripts.Render("~/Scripts/Custom/functions.js")

        
        @Html.Partial("_JS")

        @RenderSection("JavaScript", required: false)

    </body>
</html>