﻿@{
    ViewBag.Title = "Admin";
}

<div class="main container">
    <div class="row-fluid">
        @Html.ActionLink("Post a new blog article", "Create", "Blog", null, new { @class = "btn btn-custom btn-large span6 offset3 font-helvetica" })
    </div>
</div>


