﻿@using SitePerso.Models
@model Credentials

@{
    ViewBag.Title = "Admin";
}

<div class="main container">

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend class="text-center font-caviar small">Admin Login</legend>

            <div class="editor-field row-fluid">
                @Html.TextBoxFor(model => model.UserName, new { @class = "span6 offset3", placeholder="Username" })
                @Html.ValidationMessageFor(model => model.UserName)
            </div>

            <div class="editor-field row-fluid">
                @Html.PasswordFor(model => model.Password, new { @class = "span6 offset3", placeholder="Password" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <div class="row-fluid smallMarginTop">
                <input type="submit" class="btn btn-custom span2 offset5" value="Log in" />
            </div>
        </fieldset>
    }   

</div>
