﻿.drag
{
  width: 100%;
  height: 480px;
  min-width: 510px;
}

.drag .drag-item
{
    width: 12%;
    height: auto;
    opacity: 0.8;
    background-size:200px 200px;
}

.drag .drag-item p
{
    display: none;
    color: whitesmoke;
    padding:20px;
}

.drag-item:hover
{
    cursor: move;
}

.drag-item:focus
{
    opacity: 0.5;
    background: black;
}

@media (min-width: 979px) and (max-width: 1200px)
{
    .drag
    {
        height: 350px;
    }
}

@media (min-width: 865px) and (max-width: 979px)
{
    .drag
    {
        height: 275px;
    }
}

@media (max-width: 864px)
{
    .drag
    {
        height: 250px;
    }
}