﻿.graph
{
    width: 650px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.graph .row-fluid .span10
{
    width: 500px; 
}

.graph .row-fluid .Ylabel
{
    width: 150px; 
    padding-right: 19px;
    text-align: right;
    height: 100px;
    min-height: 0;
    font-family: caviar;
}

.graph .row-fluid .span2-graph
{
    width: 10.66%;
    margin-left: 3%;
    margin-right: 3%;
    height: 100px;    
}

.graph .row-fluid .half
{
    height:50px;
    margin-top: 50px;
}

.graph .row-fluid .third
{
    height: 33px;
    margin-top: 77px;
}

.graph .row-fluid .bottom
{
    height: 23px;
    min-height: 0;
    margin-bottom: 5px;
    width: 10.66%;
    margin-left: 3%;
    margin-right: 3%;
}

.graph .row-fluid .bottomHeight
{
    height: 24px !important;
}

.hr
{
    background: url(images/hr.png) repeat-x 0 23px;
}

.Yaxis
{
    border-right: 1px solid #eeeeee;
}

.softBorder
{
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}

.bgBlue
{
    border-left: 1px solid #4DB0E0;
    border-right: 1px solid #3AA2DA;
    background: #7db9e8; /* Old browsers */
    background: -moz-linear-gradient(left, #7db9e8 0%, #55b3e1 50%, #3aa5dc 50%, #2794d4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#7db9e8), color-stop(50%,#55b3e1), color-stop(50%,#3aa5dc), color-stop(100%,#2794d4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #7db9e8 0%,#55b3e1 50%,#3aa5dc 50%,#2794d4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #7db9e8 0%,#55b3e1 50%,#3aa5dc 50%,#2794d4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #7db9e8 0%,#55b3e1 50%,#3aa5dc 50%,#2794d4 100%); /* IE10+ */
    background: linear-gradient(to right, #7db9e8 0%,#55b3e1 50%,#3aa5dc 50%,#2794d4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#2794d4',GradientType=1 ); /* IE6-9 */
}

@media (max-width: 864px)
{
    .graph
    {
        width: 100%;
    }

    .graph .row-fluid .span10
    {
        width: 71%; 
        margin-right: 5%;
        font-size: 0.90em;
    }

    .graph .row-fluid .span2-graph, .graph .row-fluid .Ylabel
    {
        height: 70px;    
    }

    .graph .row-fluid .half
    {
        height:35px;
        margin-top: 35px;
    }

    .graph .row-fluid .Ylabel
    {
        width: 24%;
        font-size: 0.90em;
    }
}