﻿@font-face
{
    font-family: 'caviar';
    src: url('fonts/caviardreams-webfont.eot');
    src: url('fonts/caviardreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/caviardreams-webfont.woff') format('woff'),
         url('fonts/caviardreams-webfont.ttf') format('truetype'),
         url('fonts/caviardreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'futura';
    src: url('fonts/ag-futura-bold-webfont.eot');
    src: url('fonts/ag-futura-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ag-futura-bold-webfont.woff') format('woff'),
         url('fonts/ag-futura-bold-webfont.ttf') format('truetype'),
         url('fonts/ag-futura-bold-webfont.svg#ag_futurabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'top-secret';
    src: url('fonts/top_secret-webfont.eot');
    src: url('fonts/top_secret-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/top_secret-webfont.woff') format('woff'),
         url('fonts/top_secret-webfont.ttf') format('truetype'),
         url('fonts/top_secret-webfont.svg#top_secretbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.content
{
    background: url(images/background-top.png) no-repeat top, url(images/background-bottom.png) no-repeat bottom, url(images/banner.png) repeat-x;
    color: #FFFFFF;  
    min-height: 100%;    
    margin: 0 auto -240px;
}

.banner
{
    height: 300px;    
    letter-spacing: -5px;   
}

.banner h1 
{
    margin: 0;
    font-weight: 100;
    font-size: 100px;   
    line-height: 150px; 
    font-family: 'Lato', sans-serif;
}

.banner a, .banner a:hover
{
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

.container-fluid .menu
{
    padding: 0 1%;
    width:98%;
    font-size: 1.8em;
    line-height: 75px;
    text-align: center;
    margin-left: 0;
    height: 110px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: -1px;   
}

.links
{
    font-family: caviar;
}

.links a, .links a:hover
{
    color: #FFFFFF;
    cursor: pointer;
}

.links a:hover
{
    text-decoration: underline;
}

.info-left, .info-right
{
    font-size: 0.5em;
    line-height: 27px;
    letter-spacing: 0px;
    font-family: caviar;       
}

.row-fluid .info-left
{
    width: 17%;
}

.row-fluid .info-right
{
    width: 12%;
}

.row-fluid .menu-span8
{
        width: 71%;
}

.shadow
{
    -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
    -moz-box-shadow:    0px 0px 30px rgba(0, 0, 0, 0.9);
    box-shadow:         0px 0px 30px rgba(0, 0, 0, 0.9);
}

.main
{
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #333;
    background: url(images/border-left-transparent.png) repeat-y left, url(images/border-right-transparent.png) repeat-y right, url(images/border-top-transparent.png) repeat-x top, url(images/border-bottom-transparent.png) repeat-x bottom;  
    padding: 50px;
}

.footer
{
    text-align:center;
    background: url(images/background-bottom.png) no-repeat bottom, url(images/footer.png) top;
    font-family: 'caviar', sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: #FFFFFF;  
    height: 220px;
    margin-top: 20px;    
    position: relative;
    line-height: 40px;
}

.footer p 
{
    padding-top: 30px;
    margin: 0;
}

.footer .span4 
{
    padding-top: 80px;
    width: 30% !important;
}

.footer .span4-badge
{
    width: 40% !important;
    padding-top: 28px !important;
}

.footer img
{
    height: 180px;  
}

.footer a
{
    color: #FFFFFF;
}

/* EDUCATION */

.box
{
    background: url(images/border-left-transparent.png) repeat-y left, url(images/border-right-transparent.png) repeat-y right, url(images/border-top-transparent.png) repeat-x top, url(images/border-bottom-transparent.png) repeat-x bottom;  
    padding: 30px;
    line-height: 30px;
}

.box h2
{
    margin-top: 0;
    margin-bottom : 20px;
}

.box a
{
    color: #333333;
    cursor: pointer;
}

.box a:hover
{
    color: #333333;
}

.post
{
    width: 100%;
    color: #444444;
    font-weight: 400;
}

.post h5
{
    font-weight: 400;
}

.post img
{
    margin-bottom: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.3), -7px -7px 20px rgba(0, 0, 0, 0.3), -7px 7px 20px rgba(0, 0, 0, 0.3), 7px -7px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    7px 7px 20px rgba(0, 0, 0, 0.3), -7px -7px 20px rgba(0, 0, 0, 0.3), -7px 7px 20px rgba(0, 0, 0, 0.3), 7px -7px 20px rgba(0, 0, 0, 0.3);
    box-shadow:         7px 7px 20px rgba(0, 0, 0, 0.3), -7px -7px 20px rgba(0, 0, 0, 0.3), -7px 7px 20px rgba(0, 0, 0, 0.3), 7px -7px 20px rgba(0, 0, 0, 0.3);
}

.comment
{
    padding: 10px 5%;
    width:90%;
    margin-bottom: 20px;
}

.picture
{
    height:120px;
    width: 275px; 
    margin: 0 auto;
    min-width: 275px;
    z-index: -1;
    position: relative;
}

.logo
{
    width: 275px; 
    margin: 0 auto;
    min-width: 275px;
    z-index: -1;
    position: relative;
}

.picture-chicago
{
    background: url(images/left.png) repeat-y left, url(images/right.png) repeat-y right, url(images/top.png) repeat-x top, url(images/bottom.png) repeat-x bottom, url(images/chicago.jpg) no-repeat; 
}

.picture-ossau
{
    background: url(images/left.png) repeat-y left, url(images/right.png) repeat-y right, url(images/top.png) repeat-x top, url(images/bottom.png) repeat-x bottom, url(images/ossau.jpg) no-repeat;  
}

.picture-me
{
    height:233px;
    width: 350px; 
    margin: 0;
    background: url(images/left.png) repeat-y left, url(images/right.png) repeat-y right, url(images/top.png) repeat-x top, url(images/bottom.png) repeat-x bottom, url(images/me.png) no-repeat;  
}

.font-futura
{
    font-family: futura;
}

.font-caviar
{
    font-family: caviar;
    font-size: 1.05em;
}

.font-secret
{
    font-family: top-secret;
    font-size: 30px;
}

.font-helvetica
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.font-droid
{
    font-family: 'Droid Sans', sans-serif;
}

.rotate
{
    transform: rotate(-8deg);
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Safari and Chrome */
}

.current
{
    letter-spacing: -1px;
    font-weight: 800;
    text-decoration: underline;
}

.xsmallMarginTop
{
    margin-top: 5px;
}

.xsmallMarginBottom
{
    margin-bottom: 5px;
}

.smallMarginTop
{
    margin-top: 15px;
}

.marginTop
{
    margin-top: 30px;
}

.marginBottom
{
    margin-bottom: 30px;
}

.marginLeft
{
    margin-left: 5px;
}

.marginRight
{
    margin-right: 5px !important;
}

.smallMarginBottom
{
    margin-bottom: 15px;
}

.rightPadding
{
    padding-right: 25px;
}

.leftPadding
{
    padding-left: 25px;
}

.smallRightPadding
{
    padding-right: 10px;
}

.smallLeftPadding
{
    padding-left: 10px;
}

.bottomPadding
{
    padding-bottom: 25px;
}

.bigLines
{
    line-height: 55px;
}

.smallLines
{
    line-height: 25px;
}

/*used in skills for graph Xlabels*/
.smallFont
{
    font-size: 0.75em;
}

/*used in skills for graph Ylabels*/
.paddingTop
{
    padding-top: 10px;
}


.inline
{
  display: inline-block;
}

.tiny
{
    font-size: 0.9em;
}

.small
{
    font-size: 1.1em;
}

.medium
{
    font-size: 1.4em;
}

.big
{
    font-size: 2em;
}

/*Do in em*/
.title
{
    font-size: 1.2em;
    text-decoration: underline;
}

.bold
{
    font-weight: 900;
}

.contactForm input
{
    width: 92%;
}

.contactForm textarea
{
    width: 92%;
    resize: vertical;
}

.contactForm [class^="icon-"], .contactForm [class*=" icon-"]
{
    margin: 0;
}

.bullet
{
    line-height: 37px;
    vertical-align: middle;
    display: inline;
}

.rightBorder
{
    border-right: 1px solid #eeeeee;
}

.blue
{
    color: #0088cc;
}

.radius
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.bigLines .row-fluid
{
    width: 420px;
    margin: 0 auto;
    font-size: 1.1em;
}

.bigLines .row-fluid .span4 { width: 150px; }

.bigLines .row-fluid .icon { width: 120px; }

.bigLines .row-fluid .text { width: 200px; }

.bigLines .row-fluid .value { width: 100px; }

.bigLines .row-fluid .rotate { width: 100px; }

#FlightsMap
{
    width: 100%;
    height: 370px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid #eeeeee;
}

#WorldMap
{
    width: 100%;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 1px solid #eeeeee;
}

#roadTrips img
{
    margin-right: 10px;
}

.field-validation-error, .validation-summary-errors ul li
{
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: red;
    list-style: none;
    text-align: center;
}

.table
{
    display: table;
}

.alert-blog
{
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}

.post span
{
    display: inline-block;
    line-height: 30px;
}

.smallImg
{
    height:70px;
    width: auto;
}

.vMiddle
{
    vertical-align: middle;
}

.pointer
{
    cursor: pointer;
}

