﻿@media (min-width: 1200px) and (max-width: 1350px)
{
    .container-fluid .menu
    {
        line-height: 40px;
    }

    .row-fluid .menu-span6
    {
        width: 100%;
    }

    .row-fluid .info-left
    {
        width: 20.5%;
    }

    .row-fluid .info-right
    {
        width: 19.5%;
    }

    .row-fluid .menu-span8
    {
        width: 60%;
    }

    .drag
    {
        height: 330px;
    }
}

@media (min-width: 979px) and (max-width: 1200px)
{
    .banner h1
    {
        font-size: 80px;
    }

    .container-fluid .menu
    {
        font-size: 1.6em;
        line-height: 40px;
    }

    .main
    {
        font-size: 16px;
    }

    .row-fluid .info-left
    {
        width: 22%;
    }

    .row-fluid .info-right
    {
        width: 19%;
    }

    .row-fluid .menu-span8
    {
        width: 59%;
    }

    .row-fluid .menu-span6
    {
        width: 100%;
    }
}

@media (min-width: 865px) and (max-width: 979px)
{
    .container
    {
        width: 500px;
    }

    .footer
    {
        font-size: 20px;
    }

    .banner h1
    {
        font-size: 72px;
    }

    .container-fluid .menu
    {
        font-size: 1.6em;
        line-height: 40px;
    }

    .main
    {
        font-size: 16px;
    }

    .row-fluid .info-left
    {
        width: 19.7%;
    }

    .row-fluid .info-right
    {
        width: 16.3%;
    }

    .row-fluid .menu-span8
    {
        width: 64%;
    }

    .row-fluid .responsive-span5, .row-fluid .responsive-span6, .row-fluid .responsive-span7, .row-fluid .menu-span6
    {
        width: 100%;
    }

    .rightBorder
    {
        border: 0;
        padding: 0;
    }

    .leftPadding, .rightPadding
    {
        padding: 0;
    }

    .picture-me
    {
       margin: 0 auto;
    }
}

@media (max-width: 864px)
{
    .container
    {
        width: 500px;
    }

    .footer
    {
        font-size: 18px;
    }

    .banner h1
    {
        font-size: 60px;
        line-height:40px;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .container-fluid .menu
    {
        font-size: 1.6em;
        line-height: 40px;
    }

    .info-left, .info-right
    {
        font-size: 0.6em;
    }

    .main
    {
        font-size: 15px;
    }

    .row-fluid .info-left
    {
        width: 100%;
        text-align: center;
    }

    .row-fluid .info-right
    {
        width: 100%;
        text-align: center;
    }

    .row-fluid .menu-span8
    {
        width: 100%;
        margin-top: 10px;
    }
        
    .row-fluid .responsive-span5, .row-fluid .responsive-span6, .row-fluid .responsive-span7, .row-fluid .menu-span6
    {
        width: 100%;
    }         

    .row-fluid .menu-span4
    {
        width:33.33%;
        margin-left: 0px;
        float: left;
    } 

    .tooltip
    {
        font-size: 10px;
        line-height: 1;
    }

    .rightBorder
    {
        border: 0;
    }

    .leftPadding, .rightPadding
    {
        padding-left: 0;
        padding-right: 0;
    }

    .alert-blog
    {
        width: 80%;
    }

    .picture-me
    {
       margin: 0 auto;
    }
}